


 <div class="container">
   <br/>
 </div>
 <div class="container">  
   <div class="alert alert-info">
 <strong>Clients</strong>
</div>
<div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" [(ngModel)]="newClient.name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="textarea" class="form-control" [(ngModel)]="newClient.description">
  </div>
<div class="form-group">
    <label for="email">Email address:</label>
    <input type="text" class="form-control" [(ngModel)]="newClient.email">
  </div>
  <div class="form-group">
    <label for="city">City:</label>
    <select class="form-control" [(ngModel)]="newClient.city"  >
      <option *ngFor="let c of cities" [ngValue]="c.city">{{c.city}}</option>
    </select>
  </div>
 
  <div class="form-group">
    <label for="field">Field:</label>
    <select class="form-control" [(ngModel)]="newClient.field"  >
       <option *ngFor="let c of fields" [ngValue]="c.field">{{c.field}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="pincode">Pincode:</label>
    <input type="text" class="form-control" [(ngModel)]="newClient.pincode">
  </div>
 
  <button type="submit" class="btn btn-default" (click)="addClient()" >Submit</button>
 </div>

 
 